<template>
    <div> browser has no access to video audio.</div>
</template>

<script>
    import {useEventBus} from "@/features/useEventBus.js";
    import {BUS_EVENTS} from "@/constants/constants.js";
    import {localUserStore} from "@/store/localUserStore.js";


    const {listenEvent} = useEventBus()

    const updateHandle = () => {
        const { audio, video } = localUserStore

        if (!audio && !video) {
            this.classList.add('active')
            return
        }


        this.classList.remove('active')
    }


    listenEvent(BUS_EVENTS.LOCAL_MEDIA_PERMISSIONS_UPDATED, updateHandle)


</script>

<style>

    status-bar {

        /*opacity: 0;*/
        /*!*height: 0;*!*/
        /*width: 100%;*/
        /*overflow: hidden;*/
        /*text-align: center;*/

    }

    status-bar.active {
color: deeppink;
        opacity: 1;

    }

</style>



