
.meet-app {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
}

[data-role="media-streams-wrapper"] {
    flex: 1;
    min-width: 320px;

    width: 100%;

    display: flex;
    gap: .5rem;
}

[data-role="meet-chat-wrapper"] {
    width: 320px;
}
