@use "@/css/vars.scss" as *;

.form_wrapper {

  padding: 0;
  border-radius: $base-border-radius;
  border: 1px solid;
  max-width: 600px;
  margin:0 auto;
  overflow: hidden;
}

.form {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 1rem;
  gap: 1rem;

  &_title {
    text-align: center;
  }

  &_password-label {
    text-decoration: underline;
    cursor: pointer;
  }

}