input[type="text"] {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.5em ;
    transition: border-color 0.25s;
    display: inline-block;
    box-sizing: border-box;
}

input[type="text"][data-size="sm"]
{
    font-size: 1.5rem;
}

input[type="text"],
input[type="text"][data-size="md"] {
    font-size: 1.75rem;
}

input[type="text"][data-size="lg"] {
    font-size: 2rem;
}

@media (hover: hover) {
    input[type="text"]:hover {
        border-color:var(--main-accent-color);
    }
}


input[type="text"]:active {
    border-color:var(--main-accent-color);
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
    border-color:var(--main-accent-color);

}
input[type="text"]:focus::placeholder {
    color: rgba(0,0,0,0);
}

input[type="text"][data-loading="true"],
input[type="text"][disabled]  {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.7;
}

input[type="text"][data-loading="true"] {
    cursor: wait;
    opacity: 1;
}
