.local-media-stream__actions-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.local-media-stream__actions-bar__audio-toggle {

}

.local-media-stream__actions-bar__audio-toggle.active {
    color: dodgerblue;
}

.local-media-stream__actions-bar__video-toggle {

}

.local-media-stream__actions-bar__video-toggle.active {
    color: dodgerblue;
}